<!-- Site footer -->
<footer class="site-footer">

  <!-- Social links -->
  <div class="social-links">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>

  <!-- Site logo -->
  <img src="/images/footer.png"/>

  <!-- Contact email link -->
  {% if site.email %}
  <a class="contact-link" href="mailto:{{ site.email }}">{{ site.email }}</a>
  {% endif %}

</footer>


{% include typekit.html %}
{% include analytics.html %}
</body>
</html>
