<!-- Social meta tags -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dinosaurlord">
<meta name="twitter:creator" content="@dinosaurlord">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.excerpt | strip_html}}">
<meta name="twitter:image" content="{{page.image | absolute_url}}">

<meta property="fb:app_id" content="1134129026651501" />

<meta property="og:url" content="{{ post.url }}"/>
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.excerpt | strip_html}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{page.image | absolute_url}}" />
