// Media queries to establish a desktop layout

// Get variables
@import "variables"

// Tablets
@media screen and (min-width: 600px)

  // Make a desktop-friendly footer

  footer
    padding: 20px
    background-color: #f6f6f6
    position: relative
    display: block

    div.social-links
      position: absolute
      left: 20px
      top: 35px

    img
      margin: 0 auto

    a.contact-link
      position: absolute
      right: 20px
      top: 40px

  // Post layout

  section.featured-image
    height: 70vh

  article.post
    section.meta
      span
        font-size: 1em

    h1.post-title
      font-size: 3em
      margin: 15px 0px

    hr
      border: 2px solid $salmon
      margin: 30px 0px


@media screen and (min-width: 850px)

  // Create a grid layout for post-grid
  section.post-grid
    width: 100%

    div.row
      flex-wrap: no wrap

      article.tile
        width: 25vw
        height: 50vh

      article.tile.wide
        width: 50vw
        height: 50vh

      article.tile.testimonials
        width: 50vw
        padding: 25px

        ul.slider
          li
            h3
              font-size: 3em

            h4
              font-size: 2.3em

            h5
              font-size: 1em

  article.post
    h1.post-title
      font-size: 4em

// Special stuff for the big screen weirdos
@media screen and (min-width: 1500px)

  // Create a grid layout for post-grid
  section.post-grid
    div.row
      article.tile
          hr
            width: 60px
            border: 2px solid #f6f6f6

          h2
            font-size: 3em

          p
            font-size: 1.3em

      article.tile.testimonials
        width: 50vw
        padding: 35px

        ul.slider
          li
            h3
              font-size: 5em

            h4
              font-size: 4em

            h5
              font-size: 2em
