// The primary mobile-first stylesheet

// Get variables
@import "variables"

// Basic typography styles
p, a, li
  font-family: $p-stack
  color: $dark-text

a
  color: $salmon
  text-decoration: none

a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: $h-stack
  color: $dark-text

// Layout

.fixed-nav.visible
  top: 0px

.fixed-nav
  position: fixed
  top: -90px
  z-index: 9
  width: 100%
  background-color: rgba(246,246,246,0.95)
  transition: 0.1s

div.previous-next
  display: none

div.container
  max-width: $fixed-width
  margin: 0 auto
  padding: 0px 10px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

header.hero-header
  position: absolute
  bottom: 0
  width: 100%


  div.container
    justify-content: flex-end

    nav.site-nav
      margin: 30px 0px

  a.site-title
    img
      max-width: 50px
      margin: 10px 0px
      transition: 0.1s

    img:hover
      opacity: 0.9

header.site-header
  background-color: #f6f6f6

  a.site-title
    img
      max-width: 50px
      margin: 10px 0px
      transition: 0.1s

    img:hover
      opacity: 0.9

article.post, article.page
  max-width: $fixed-width
  margin: 0 auto
  min-height: 300px

footer
  padding: 20px
  background-color: #f6f6f6
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  div.social-links
    display: flex
    flex-direction: row
    a
      border-radius: 60px
      display: flex
      justify-content: center
      align-items: center
      width: 30px
      height: 30px
      margin-right: 10px
      background-color: #efefef
      color: $light-text
    a:hover
      text-decoration: none
      background-color: #dfdfdf

  img
    max-width: 60px
    display: block
    margin: 20px auto

  a.contact-link
    text-transform: uppercase
    color: $light-text
    font-weight: 600

nav.site-nav
  a
    text-transform: uppercase
    font-weight: 600
    color: $light-text
    margin-right: 20px



// Homepage
  // Hero section

section.hero
  height: 100vh
  width: 100%
  background-size: cover
  background-position: center center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative


  figure.slideshow
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    margin: 0
    z-index: -1
    overflow: hidden
    opacity: 0.7

    div
      width: 100%
      min-height: 100%
      min-width: 100%
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      z-index: 3
      background-position: center
      background-size: cover


  figure div:first-of-type
    animation: xfade 22s 18s infinite

  figure div:nth-of-type(2)
    animation: xfade 22s 12s infinite

  figure div:nth-of-type(3)
    animation: xfade 22s 6s infinite

  figure div:last-of-type
    animation: xfade 22s 0s infinite

  @keyframes xfade
    17%
      opacity: 1

    25%
      opacity: 0

    92%
      opacity: 0




  hr
    width: 70px
    margin: 10px auto
    border: 2px solid $salmon

  img.site-logo
    text-align: center
    max-width: 180px
    margin: 10px

  h1
    font-size: 2.2em

  h2
    font-size: 0.9em
    color: $light-text
    font-weight: 100
    margin: 10px
    max-width: 250px
    text-align: center

  //Post grid

section.post-grid
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap

  article.tile:nth-child(3n+3)
    background-color: #dfdfdf

  article.tile:nth-child(3n+2)
    background-color: #efefef

  article.tile:nth-child(3n+1)
    background-color: #ffffff

  article.tile:hover

    div.image-holder
      transform: scale(1.1)

    a.cover
      opacity: 1
      text-decoration: none

      hr
        width: 50px

  article.tile.work
    a.cover
      background-color: rgba(20,198,163,0.9)

  article.tile
    width: 50%
    height: calc(100vh/3)
    position: relative
    transition: 0.5s
    overflow: hidden

    div.image-holder
      width: 100%
      height: 100%
      background-size: cover
      background-position: center
      transition: 0.4s
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: 1

    a.cover
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      background-color: rgba(88,156,212,0.9)
      width: 100%
      height: 100%
      opacity: 0
      transition: 0.2s
      cursor: pointer
      position: relative
      z-index: 2

      hr
        width: 0px
        margin: 10px auto
        border: 1px solid #f6f6f6
        transition: 0.4s

      h2
        text-align: center
        color: #f6f6f6
        margin: 0px 10px
        font-size: 1.1em

      p
        color: $light-text
        text-align: center
        color: #f6f6f6
        text-transform: capitalize
        font-size: 0.8em

  article.tile.wide
    width: 100%
    height: calc(100vh/3)

  article.tile.testimonials
    width: 100%
    background-color: $salmon
    padding: 20px
    height: inherit

    // Make the slider work
    input#s1:checked ~ ul li#s1
      display: block
      animation-play-state: running !important

    input#s2:checked ~ ul li#s2
      display: block
      animation-play-state: running !important

    input#s3:checked ~ ul li#s3
      display: block
      animation-play-state: running !important

    input#s4:checked ~ ul li#s4
      display: block
      animation-play-state: running !important

    //Style input radio buttons
    input[type="radio"]
      display: none

    input[type="radio"] + label
      display: inline-block
      width: 17px
      height: 17px
      background-color: $salmon
      border: 1px solid #f6f6f6
      border-radius: 40px
      transition: 0.1s
      margin-right: 5px
      cursor: pointer

    input[type="radio"]:checked + label
      display: inline-block
      width: 17px
      height: 17px
      background-color: #f6f6f6
      border: 1px solid #f6f6f6
      border-radius: 40px

    ul.slider
      position: relative
      width: 100%
      height: 100%
      display: block
      margin-top: 15px

      @-webkit-keyframes slide
        0%
          margin-left: -100%
        100%
          margin-left: 0

      li
        width: 100%
        height: 100%
        display: none
        animation-name: slide
        animation-duration: 0.5s
        animation-play-state: paused

        h4
          font-weight: 100
          color: #f6f6f6
          font-size: 1.5em

        h3
          font-weight: 100
          color: #f6f6f6
          font-size: 2em

        h5
          font-weight: 100
          color: #f6f6f6
          font-size: 0.9em
          margin-top: 10px





// Page layouts

section.columns
  aside
    margin: 25px 0px
    h3
      text-transform: uppercase
      font-family: $p-stack
      color: $light-text
      letter-spacing: 1px
      font-weight: 700
      font-size: 0.9em
      margin-bottom: 10px

    ul
      list-style-type: square
      padding-left: 20px

      li
        padding-left: 10px
        margin-bottom: 10px

article.page
  padding: 10px
  position: relative
  margin-bottom: 20px

  a.button:hover
    text-decoration: none

  a.button:first-of-type
    background-color: $salmon
    color: #fafafa

  a.button
    display: inline-block
    padding: 20px
    width: 190px
    border: 4px solid $salmon
    color: $salmon
    text-align: center
    margin-right: 5px
    border-radius: 1px
    text-transform: uppercase
    font-family: $p-stack
    letter-spacing: 1px
    font-weight: 700
    font-size: 0.9em
    margin-bottom: 10px

  h5.outline
    font-family: $h-stack
    font-style: italic
    font-size: 2em
    font-weight: 100

  h1.page-title
    font-size: 2.5em
    margin: 10px 0px

  hr
    width: 50px
    margin: 20px 0px
    border: 1px solid $salmon
  p
    margin-bottom: 20px
    max-width: 600px

  main
    p:first-of-type::first-letter
      color: $salmon
      font-family: $h-stack
      font-weight: 100
      font-size: 425%
      float: left
      margin-right: 5px
      line-height: 95%
      margin-bottom: -10px








article.me
  img
    max-width: 150px
    border-radius: 100px
    margin: 10px 0px

// Post layout
section.featured-image
  width: 100vw
  height: 40vh
  background-size: cover
  background-position: center
  position: relative

  span.image-credit
    position: absolute
    right: 0px
    bottom: 0px
    padding: 5px
    background-color: rgba(255,255,255,0.5)
    font-family: $p-stack
    color: $dark-text
    font-size: 0.8em

article.post
  padding: 10px
  position: relative

  section.meta
    position: absolute
    top: -30px
    left: 0px
    background-color: #ffffff
    padding: 10px
    color: $light-text

    span
      font-family: $p-stack
      text-transform: uppercase
      font-weight: 600
      font-size: 0.9em

    span.date
      color: $light-text

    span.author
      color: $salmon

  h1.post-title
    font-size: 2.5em
    margin: 10px 0px

  hr
    width: 50px
    margin: 20px 0px
    border: 1px solid $salmon

  img
    max-width: 100%
    height: auto

  iframe
    margin-bottom: 20px
    max-width: 650px
    width: 100%

  figure
    margin: 40px 0px

    img
      margin-bottom: 0px

    figcaption
      font-family: $h-stack
      font-weight: 100
      color: $light-text
      margin-bottom: 20px
      font-size: 1.1em

  p
    margin-bottom: 20px
    max-width: 600px

  main
    h1, h2, h3, h4, h5
      font-size: 2em
      margin: 30px 0px

    p:first-of-type::first-letter
      color: $salmon
      font-family: $h-stack
      font-weight: 100
      font-size: 425%
      float: left
      margin-right: 5px
      line-height: 95%
      margin-bottom: -10px

//Category page

section.category-tiles

  article.category-tile:hover div.image-holder
    opacity: 0.95

  article.category-tile
    margin: 40px 0px
    position: relative

    div.image-holder
      width: 100%
      height: 200px
      background-position: center
      background-size: cover
      transition: 0.2s
    h2
      margin: 10px 0px
    h5
      font-family: $p-stack
      text-transform: uppercase
      font-weight: 600
      font-size: 0.9em
      color: $salmon
    a.cover
      top: 0
      bottom: 0
      left: 0
      right: 0
      position: absolute
      display: block
      transition: 0.2s

blockquote
  float: right
  text-align: right
  margin: 20px
  padding: 0px

  q
    font-family: $h-stack
    font-size: 1.5em
    font-weight: 600
    color: $dark-text
    display: block
    max-width: 300px

  cite
    font-size: 1em
    font-family: $h-stack
    font-weight: 100
    color: $light-text
    display: block
