// Colours, fonts and more fun sitewide things

$fixed-width: 1000px

//Colours
$salmon: #EE4848
$blue: #589CD4
$green: #14C6A3

// Typography
$h-stack: "Museo Slab", museo-slab, museo slab, serif
$p-stack: "Source Sans", source-sans, source sans, sans serif
