{% include header.html %}


<header class="site-header fixed-nav">
  <div class="container">
    <a class="site-title" href="{{ "/" | relative_url}}"><img src="/images/logo.png" alt="{{ site.title | escape }}"/></a>
    <nav class="site-nav">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
    </nav>
  </div>
</header>

<!-- Hero section -->
<section class="hero" style="background-image:url('/images/cover.jpg')">
  <img class="site-logo" src="/images/logo.png" alt="Joshua Hackett"/>
  <h1 class="site-title">{{ site.title | escape }}</h1>
  <hr/>
  <h2 class="site-desc">{{ site.description | escape }}</h2>
</section>

<!-- Post grid -->
<section class="post-grid">
    {% for post in site.posts %}
      <article class="tile
      {% if forloop.index == 11 or forloop.index == 1 or forloop.index == 6 %}
        wide
      {% endif %}
      {% if post.categories contains "work" %}
        work
      {% endif %}
      ">
        <a class="cover" href="{{ post.url }}">
          <h2>{{ post.title | escape }}</h2>
          <hr />
          <p>
            {% if post.categories contains "work" %}
              {{ post.categories  | join:', ' | append:''  }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
          </p>
        </a>
        <div class="image-holder" style="background-image: url('{{ post.image }}')">
        </div>
      </article>
      <!-- On fifth post, output the testimonials -->
      {% if forloop.index == 5 %}
        <article class="tile testimonials">

          {% for testimonial in site.data.testimonials %}
            <input type="radio" name="slider" id="s{{ forloop.index }}" {% if forloop.first%} checked {% endif%}/><label for="s{{ forloop.index }}"></label>
          {% endfor %}
          <ul class="slider">
          {% for testimonial in site.data.testimonials %}
            <li id="s{{ forloop.index }}">
              <h3>{{ testimonial.quote }}</h3>
              <h5>{{ testimonial.attr }}</h5>
              <h4>{{ testimonial.message }}</h4>
            </li>
          {% endfor %}
          </ul>

        </article>
      {% endif %}
      <!-- Stop looping after 11th post -->
      {% if forloop.index == 11 %}
        {% break %}
      {% endif %}
    {% endfor %}
</section>

{% include footer.html %}
