{% include header.html %}

<article class="page me">

    <!-- Content columns -->
    <section class="content">
      <!-- Headline and title -->
      <h1 class="page-title">Hello, I'm Joshua!</h1>
      <hr />
      <section class="media">
        <!-- Picture -->
        <img class="profile-image" src="/images/me.jpg"/>
        <aside>
          <h5 class="outline">{{ page.outline | escape }}</h5>
        </aside>
      </section>

      <section class="columns">
        <aside>
          <h3>Profile</h3>
          {{ content }}
        </aside>
        <aside>
          <h3>Quick facts</h3>
          <ul class="quick-facts">
          {% for quick-facts in page.quick-facts %}
            <li>
              {{ quick-facts }}
            </li>
          {% endfor %}
          </ul>
        </aside>
      </section>

    </section>

  <!-- Buttons -->
  <a class="button" href="#">Download CV</a>
  <a class="button" href="mailto:{{ site.email }}">Email me</a>

</article>

{% include footer.html %}
