{% include header.html %}

{% include nav.html %}

{% if page.image %}
  <section class="featured-image" style="background-image: url('{{ page.image }}')">
  {% if page.image-credit %}
      <span class="image-credit"><i class="fa fa-camera"></i> {{ page.image-credit }}</span>
  {% endif %}
  </section>
{% endif %}

<article class="post">

  <!-- Media object -->
  <section class="meta">
    <span datetime="{{ page.date | date_to_xmlschema }}" class="date">{{ page.date | date: "%b %-d, %Y" }}</span> • <span class="author">Blog</span>
  </section>

  <!-- Content columns -->
  <section class="content">
    <!-- Headline and title -->
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <hr />
    {{ content }}
  </section>

</article>

{% include footer.html %}
